.container {
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
}

.container h1 {
   display: flex;
   margin-top: 2rem;
   margin-bottom: 1rem;
   margin-left: 2rem;
   background-color: rgba(0, 0, 0, 0.185);
   border-radius: .5rem;
   padding: .5rem;
   font-size: 2rem;
   color: #fff;
   font-weight: 700;
}
.treading_container img {
   border-radius: .5rem;
   z-index: 10;
}

.container_emphasis_and_NavBar {
   display: flex;
   width: 100%;
   margin-bottom: 2rem;
}