.container {
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
}

.container h1 {
   display: flex;
   margin-left: 2rem;
   margin-top: 3rem;
   font-size: 2rem;
   color: #fff;
   font-weight: 500;
}
.treading_container img {
   border-radius: .5rem;
}

.container_emphasis{
   background-color: red;
   width: 100%;
   height: auto;
}