.container {
   display: flex;
   background-color: #1E2019;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
   height: 100vh;
   flex: 1;
   margin-right: 3rem;
}