.slide_container {
   width: 100%;

}

.movie {
   width: 200px;
   border-radius: .2rem;
   border: 1px solid rgba(0, 0, 0, 0.5);
}

.movie:hover {
   transition: .2s;
   transform: scale(1.2);
   
}